<h1><%= @user.name %>のページ</h1>
<p>
プロフィール写真
<% if @user.image? %>
  <%= image_tag @user.image.url %>
<% end %>
<p>
メールアドレス: <%= @user.email %></p>

<div class="btn-group" role="group" aria-label="...">

<button type="button" class="btn btn-default"><%= link_to '新規投稿', new_picture_path %></button>

<button type="button" class="btn btn-default"><%= link_to 'プロフィールの編集', edit_user_path(current_user.id)%></button>

<button type="button" class="btn btn-default"><%= link_to '戻る', pictures_path %></button>

</div>
